/* Custom CSS */

#quote {
	background: #fff;
	padding: 0 10px;
	margin-top: 75px;
	line-height: 1.6em;
}

#character {
	color: #f5322d;
	margin-right: 25px;
}

.sidebar {
  background-color:#009688;
  color: white;
}

a {
  color: black!important;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  font-family: Georgia, serif;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
  
