/* Custom CSS */

#quote {
	background: #fff;
	padding: 0 10px;
	margin-top: 75px;
	line-height: 1.6em;
}

#character {
	color: #f5322d;
	margin-right: 25px;
}

.sidebar {
  background-color:#009688;
  color: white;
}

a {
  color: black!important;
}